<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://xmlns.jcp.org/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd"
         version="4.0">
    <servlet>
        <servlet-name>UserAddServlet</servlet-name>
        <servlet-class>com.hanyun.controller.UserAddServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UserloginServlet</servlet-name>
        <servlet-class>com.hanyun.controller.UserloginServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UserFindServlet</servlet-name>
        <servlet-class>com.hanyun.controller.UserFindServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AdminloginServlet</servlet-name>
        <servlet-class>com.hanyun.controller.AdminloginServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AdminFindServlet</servlet-name>
        <servlet-class>com.hanyun.controller.AdminFindServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AdminDeleteServlet</servlet-name>
        <servlet-class>com.hanyun.controller.AdminDeleteServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AdminUpdateServlet</servlet-name>
        <servlet-class>com.hanyun.controller.AdminUpdateServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AdminFindByIdServlet</servlet-name>
        <servlet-class>com.hanyun.controller.AdminFindByIdServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UserDeleteServlet</servlet-name>
        <servlet-class>com.hanyun.controller.UserDeleteServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UserFindByIdServlet</servlet-name>
        <servlet-class>com.hanyun.controller.UserFindByIdServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UserUpdateServlet</servlet-name>
        <servlet-class>com.hanyun.controller.UserUpdateServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>HouseAddServlet</servlet-name>
        <servlet-class>com.hanyun.controller.HouseAddServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>HouseFindServlet</servlet-name>
        <servlet-class>com.hanyun.controller.HouseFindServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>HouseDeleteServlet</servlet-name>
        <servlet-class>com.hanyun.controller.HouseDeleteServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>HouseUpdateServlet</servlet-name>
        <servlet-class>com.hanyun.controller.HouseUpdateServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>HouseFindByIdServlet</servlet-name>
        <servlet-class>com.hanyun.controller.HouseFindByIdServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>MessageAddServlet</servlet-name>
        <servlet-class>com.hanyun.controller.MessageAddServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>MessageTwoAddServlet</servlet-name>
        <servlet-class>com.hanyun.controller.MessageTwoAddServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>MessageFindByIdServlet</servlet-name>
        <servlet-class>com.hanyun.controller.MessageFindByIdServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>MessageFindServlet</servlet-name>
        <servlet-class>com.hanyun.controller.MessageFindServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>MessageAdminFindServlet</servlet-name>
        <servlet-class>com.hanyun.controller.MessageAdminFindServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>MessageDeleteServlet</servlet-name>
        <servlet-class>com.hanyun.controller.MessageDeleteServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>HouseFindSellServlet</servlet-name>
        <servlet-class>com.hanyun.controller.HouseFindSellServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>HouseFindUserServlet</servlet-name>
        <servlet-class>com.hanyun.controller.HouseFindUserServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DealAddServlet</servlet-name>
        <servlet-class>com.hanyun.controller.DealAddServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DealFindByIdServlet</servlet-name>
        <servlet-class>com.hanyun.controller.DealFindByIdServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DealFindServlet</servlet-name>
        <servlet-class>com.hanyun.controller.DealFindServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DealDeleteServlet</servlet-name>
        <servlet-class>com.hanyun.controller.DealDeleteServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DealUpdateServlet</servlet-name>
        <servlet-class>com.hanyun.controller.DealUpdateServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DealUpTimeServlet</servlet-name>
        <servlet-class>com.hanyun.controller.DealUpTimeServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>HouseFindSellBJServlet</servlet-name>
        <servlet-class>com.hanyun.controller.HouseFindSellBJServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>HouseFindSellSHServlet</servlet-name>
        <servlet-class>com.hanyun.controller.HouseFindSellSHServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>HouseSellSZServlet</servlet-name>
        <servlet-class>com.hanyun.controller.HouseSellSZServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>HouseFindSellGZServlet</servlet-name>
        <servlet-class>com.hanyun.controller.HouseFindSellGZServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>HouseFindSellCDServlet</servlet-name>
        <servlet-class>com.hanyun.controller.HouseFindSellCDServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>HouseFindSellHZServlet</servlet-name>
        <servlet-class>com.hanyun.controller.HouseFindSellHZServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>HouseFindSellCQServlet</servlet-name>
        <servlet-class>com.hanyun.controller.HouseFindSellCQServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>HouseFindSellXAServlet</servlet-name>
        <servlet-class>com.hanyun.controller.HouseFindSellXAServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>HouseFindSellCSServlet</servlet-name>
        <servlet-class>com.hanyun.controller.HouseFindSellCSServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>HouseFindSellNJServlet</servlet-name>
        <servlet-class>com.hanyun.controller.HouseFindSellNJServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>HouseFindSellDLServlet</servlet-name>
        <servlet-class>com.hanyun.controller.HouseFindSellDLServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>HouseFindSellSZServlet</servlet-name>
        <servlet-class>com.hanyun.controller.HouseFindSellSZServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>HouseFindSellTJServlet</servlet-name>
        <servlet-class>com.hanyun.controller.HouseFindSellTJServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>HouseFindSellTJServlet</servlet-name>
        <url-pattern>/house/findSellTJ</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>HouseFindSellSZServlet</servlet-name>
        <url-pattern>/house/findSellSZ</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>HouseFindSellDLServlet</servlet-name>
        <url-pattern>/house/findSellDL</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>HouseFindSellNJServlet</servlet-name>
        <url-pattern>/house/findSellNJ</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>HouseFindSellCSServlet</servlet-name>
        <url-pattern>/house/findSellCS</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>HouseFindSellXAServlet</servlet-name>
        <url-pattern>/house/findSellXA</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>HouseFindSellCQServlet</servlet-name>
        <url-pattern>/house/findSellCQ</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>HouseFindSellHZServlet</servlet-name>
        <url-pattern>/house/findSellHZ</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>HouseFindSellCDServlet</servlet-name>
        <url-pattern>/house/findSellCD</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>HouseFindSellGZServlet</servlet-name>
        <url-pattern>/house/findSellGZ</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>HouseSellSZServlet</servlet-name>
        <url-pattern>/house/sellSZ</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>HouseFindSellSHServlet</servlet-name>
        <url-pattern>/house/findSellSH</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>HouseFindSellBJServlet</servlet-name>
        <url-pattern>/house/findSellBJ</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DealUpTimeServlet</servlet-name>
        <url-pattern>/deal/upTime</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DealUpdateServlet</servlet-name>
        <url-pattern>/deal/update</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DealDeleteServlet</servlet-name>
        <url-pattern>/deal/delete</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DealFindServlet</servlet-name>
        <url-pattern>/deal/find</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DealFindByIdServlet</servlet-name>
        <url-pattern>/deal/findById</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DealAddServlet</servlet-name>
        <url-pattern>/deal/add</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>HouseFindUserServlet</servlet-name>
        <url-pattern>/house/findUser</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>HouseFindSellServlet</servlet-name>
        <url-pattern>/house/findSell</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>MessageDeleteServlet</servlet-name>
        <url-pattern>/message/delete</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>MessageAdminFindServlet</servlet-name>
        <url-pattern>/message/adminFind</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>MessageFindServlet</servlet-name>
        <url-pattern>/message/find</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>MessageFindByIdServlet</servlet-name>
        <url-pattern>/message/findById</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>MessageTwoAddServlet</servlet-name>
        <url-pattern>/message/twoadd</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>MessageAddServlet</servlet-name>
        <url-pattern>/message/add</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>HouseFindByIdServlet</servlet-name>
        <url-pattern>/house/findById</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>HouseUpdateServlet</servlet-name>
        <url-pattern>/house/update</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>HouseDeleteServlet</servlet-name>
        <url-pattern>/house/delete</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>HouseFindServlet</servlet-name>
        <url-pattern>/house/find</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>HouseAddServlet</servlet-name>
        <url-pattern>/house/add</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UserUpdateServlet</servlet-name>
        <url-pattern>/user/update</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UserFindByIdServlet</servlet-name>
        <url-pattern>/user/findById</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UserDeleteServlet</servlet-name>
        <url-pattern>/user/delete</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AdminFindByIdServlet</servlet-name>
        <url-pattern>/admin/findById</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AdminUpdateServlet</servlet-name>
        <url-pattern>/admin/update</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AdminDeleteServlet</servlet-name>
        <url-pattern>/admin/delete</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AdminFindServlet</servlet-name>
        <url-pattern>/admin/find</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AdminloginServlet</servlet-name>
        <url-pattern>/admin/login</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UserFindServlet</servlet-name>
        <url-pattern>/user/find</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UserloginServlet</servlet-name>
        <url-pattern>/user/login</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UserAddServlet</servlet-name>
        <url-pattern>/user/add</url-pattern>
    </servlet-mapping>
</web-app>